<div class="carddetailPage">
  <div class="container">
    <div class="cardContents">
      <div class="cardContents_title">
        <div>タイトル</div>
        <h2><%= @card.title %></h2>
      </div>
      <div class="cardContents_memo">
        <div>メモ</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="cardContents_memo">
        <div>レベル</div>
        <div><%= @card.level %></div>
      </div>
      <div class="cardContents_listStatus">
        <div>リスト名</div>
        <div><%= @card.list.title %></div>
      </div>
      <div class="cardContents_btnArea">
        <%= link_to '編集する', edit_list_card_path(@card.list, @card), class: "edit_btn" %>
        <%= link_to "削除する", list_card_path(@card.list, @card), class: "text-danger delete_btn", method: :delete, data: { confirm: "削除しますか？"} %>
      </div>

      <!-- <div class="progress"> -->
        <!-- <div class="progress-bar" role="progressbar" aria-valuenow="<%= @card.level %>5" aria-valuemin="0" aria-valuemax="100"><%= @card.level %>55%</div> -->
      <!-- </div> -->

    </div>
  </div>
</div>


<div class="progress">
  <div class="progress-bar" role="progressbar" data-transitiongoal="75"></div>
</div>





<script>
$(document).ready(function() {
  $('.progress .progress-bar').progressbar({display_text: 'fill'});
});



// $(function(){
//   $('#answer_progress').width(gon.answer_valuenow + '%');
// });
</script>
